# Needed by ./scripts/install_native_deps.py
/bin/aarch64-apple-darwin
/bin/aarch64-unknown-linux-musl
/bin/aarch64-pc-windows-msvc
/bin/x86_64-apple-darwin
/bin/x86_64-unknown-linux-musl
/bin/x86_64-pc-windows-msvc
